html, body {
  height: 100%;
  margin: 0;
  background-color:#faf3e0; /* Change this to your desired background color */
}

.app {
  text-align: center;
  min-height: 100%; /* Ensure the app takes up the full height of the screen */
  display: flex;
  flex-direction: column;
}

  
  .app-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .degree-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
  
  .nav {
    margin-bottom: 20px;
  }
  
  .nav-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffe5b4;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav-btn.active {
    background-color: #ff8c00;
    color: #fff;
  }